.note {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 202, 137);
  min-height: 12em;
  margin-bottom: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 50px;
  padding: 1rem;
  justify-content: space-between;
}

.note > textarea {
  resize: none;
  margin-bottom: 10px;
  background-color: transparent;
  border-width: 0;
}

.note > textarea:focus {
  outline: none;
}

.note-footer {
  display: flex;
  justify-content: space-between;
}

.delete-note-button {
  margin-left: 5px;
}