@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  font-family: 'VT323', monospace;
  background-color: #f0f0f0;
}

.home-page {
  margin-top: 20vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.note.new {
  background-color: aquamarine;
}

textarea {
  resize: none;
  margin-bottom: 10px;
  background-color: transparent;
  border-width: 0;
}

textarea:focus {
  outline: none;
}

.subject-area {
  font-size: 1.5em;
}

.note-area {
  font-size: 1.1em;
}

.save-button {
  background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save-button:hover {
  cursor: pointer;
  background-color: #ededed;
}